<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bloodwave">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RequestBloodActivity"
            android:label="Blood Request"
            ></activity>
        <activity android:name=".RequestListingActivity" android:label="Request Listing"></activity>
        <activity android:name=".CurrentBloodRequestActivity" android:label="Current Blood Request"></activity>
        <activity android:name=".DashBoardActivity" />
        <activity android:name=".DonerListingActivity" android:label="All Doners"/>
        <activity android:name=".DonationListingActivity" android:label="Donation Listing" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".CreateDonerAccountActivity"
            android:label="Create Doner"
            />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>